/* HelpSlider.css */

.slide-container {
  position: relative;
  width: 100%;
  height: 375px; /* Adjust height as needed */
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.slide-container:hover .slide-image {
  transform: scale(0.9);
}

.slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.slide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98%;
  padding: 10px;
  background: rgba(0, 0, 9, 0.01); /* Darker overlay for text */
  text-align: center;
  color: white;
}

/* Custom arrows */
.splide__arrow {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.splide__arrow:hover {
  opacity: 1;
}

.splide__arrow--prev {
  left: 1em;
}

.splide__arrow--next {
  right: 1em;
}

/* Custom pagination dots */
.splide__pagination {
  bottom: 1em;
}

.splide__pagination__page {
  background: rgba(255, 255, 255, 0.8);
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.splide__pagination__page.is-active {
  background: #fff;
  transform: scale(1.2);
}

.splide__pagination__page:hover {
  background: #fff;
}
